@charset "UTF-8";

body{
    background-image: linear-gradient(0deg, #EE3D36, #F23D3D);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#container{
    width: 100vw;
    height: 100vh;
    display:flex;
}
#calculator{
width: 26vw;
height: 90vh;
align-self: center;
margin: 0 auto 0 auto;
background-image: linear-gradient(0deg, #26201E, #282D29);
border-radius: 20px;
box-shadow: 10px 20px 50px black;
}
.buttons-container{
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    padding: 3em 1em; 
}
.buttons{
    color:#F5F7F4;
    background-color: #00000000;
    font-size: max(1em , 3vw);
    border:none;
    font-weight:400;
}
.basic-operations{
    color: #F23D4C;
}
.equal{
    color: #26201E;
    background-color: #F23D4C;
    font-weight: bolder;
    border-radius: 8px;
    box-shadow:5px 5px 20px  black;
}
#display-id{
    width: 100%;
    height: 25%;
    padding: 0px 2.4em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction:column;
}
#result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F5F7F4;
    font-size: max(1em, 4vw);
}
#backresult{
    color: #9c9c9c;
    font-weight: 600;
    margin-right: 0.4em;
    font-size: max(0.7em, 1.7vw);
}

@media screen and (max-width: 1024px) {
    #calculator{
        width: 90vw;
        height: 90vh;
    }
    #backresult{
        font-size: max(1.3em, 2vw);  
    }
    .buttons{
        font-size: max(2em , 5vw);

    }
}